
#room-page{
    
    header{
        box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.15);
        .header-content{
            max-width: 1200px;
            margin: 0 auto;
            padding: 25px 10px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            

            >img{
                max-width: 200px;
            }

            .room-code{
                display: flex;
                align-items: center;

                height: 40px;
                cursor: pointer;

                background: #fff;
                border: 0;

                border-radius: 999px;
                overflow: hidden;

                box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.30);
                transition: filter, box-shadow, 0.3s;

                &:hover{
                    box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.30);
                    filter:brightness(0.98);

                    .iconCopy{
                        background-color: #1a73e8;
                        img{
                            filter:invert(1);
                        }
                    }
                }
                
                .iconCopy{
                    
                    padding: 0 10px;
                    background-color: #fff;
                    height: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    transition: background-color 0.3s;

                    border-radius: 200px;
                    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.30);
                    img{
                        width: 25px;
                        height: 25px;

                        filter: invert(0.4);
                    }
                }

                span{
                    width: 240px;
                }
            }
        }
    }

    main{
        
        padding: 100px 15px 55px 15px;
        max-width: 900px;
        margin: 0 auto;

        display: flex;
        flex-direction: column;
        
        .tab-menu{
            margin-bottom: 50px;
            ul{
                display: flex;
                justify-content: center;
                li{
                    list-style-type: none;
                    margin: 0 10px;

                    a{
                        text-decoration: none;
                        font-weight: normal;

                        color: #202124;
                        background: #fff;

                        padding: 10px 25px;
                        border-radius: 200px;
                        box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.30);

                        transition: color, filter, box-shadow 0.3s;

                        &:hover{
                            color: #1a73e8;
                            filter: brightness(0.98);
                            box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.30);
                        }
                    }


                    a.active{
                        font-weight: bold;
                        color: #fff;
                        background-color: #1a73e8;
                        box-shadow: 0px 3px 6px 1px rgba(0,0,0,0.30);
                    }
                }
            }
        }

        /*ROOM-TABS*/
        #chat-content{
            form{
                textarea{
                    height: 100px;
                    width: 100%;
    
                    padding: 15px;
                    margin-bottom: 15px;
    
                    border-radius: 10px;
                    border: 0;
    
                    filter: brightness(0.95);
                    transition: filter, box-shadow 0.3s;
    
                    resize: none;
    
                    font-size: 16px;
    
                    &:focus{
                        box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.30);
                        filter: brightness(1);
    
                        outline: 0;
                    }
                }
    
                .form-footer{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    > span{
                        font-size: 16px;
    
                        button{
                            background: transparent;
                            border: 0;
    
                            font-size: 16px;
                            text-decoration: underline;
                            color: #1a73e8;
                            
                            cursor: pointer;
                        }
                    }
    
                    .user-info{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            max-width: 50px;
                            margin-right: 10px;
                            border-radius: 50%;
                        }
    
                        span{
                            display: block;
    
                        }
                    }
                }
            }
            
            main.chat-messages{
                display: flex;
                flex-direction: column;
                
                overflow-y: auto;
                max-height: 500px;

                margin: 10px 0;

                background: #fff;
                filter: brightness(0.95);

                border-radius: 25px;

                .message-single{
                    max-width: 700px;
                    margin: 20px 5px 10px 5px;
                    padding: 20px 15px;

                    min-height: 150px;

                    border-radius: 20px;
                    overflow: hidden;

                    align-self: flex-start;

                    display: flex;
                    align-items: left;
                    flex-direction: column;


                    box-shadow: 0px 3px 6px -1px rgba(0,0,0,0.30);
                    span{
                        display: flex;
                        align-items: center;
                        padding: 10px;
                        
                        img{
                            max-width: 40px;
                            border-radius: 50%;
                            margin-right: 10px;
                        }

                        h3{
                            font-size: 17px;               
                        }

                        small{
                            margin-left: 10px;
                            color: #5f6368;
                        }
                    }

                    p{
                        font-size: 17px;
                        padding: 10px;
                        font-weight:400;                        
                    }
                }

                .your-message{
                    background: #1a73e8;

                    align-self: flex-end;
                    span{
                        h3{
                            color: #ffffffca;
                            
                        }
                        small{
                            color: #ddd;
                        }
                    }
                    p{
                        color: #fff;
                    }
                }
            }

        }
    }
}